<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>

		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>

		<property name="hibernate.connection.url">jdbc:mysql://localhost/onlineExam</property>

		<property name="hibernate.connection.username">root</property>

		<property name="hibernate.connection.password">root</property>

		<property name="hibernate.connection.pool_size">10</property>

		<property name="show_sql">true</property>

		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<mapping class="VO.LoginVO"/>
		
		<mapping class="VO.CollegeVo"/>
	
		<mapping class="VO.SemVo"/>
		
		<mapping class="VO.DepartmentVo"/>
		
		<mapping class="VO.SubjectVo"/>
		
		<mapping class="VO.ProfessorVo"/>
		
		<mapping class="VO.DepartmentProfessorVo"/>
		
		<mapping class="VO.SemProfessorVo"/>
		
		<mapping class="VO.SubjectProfessorVo"/>
		
		<mapping class="VO.PhotoUploadVo"/>
		
		<mapping class="VO.DepartmentProfessorVo"/>
		
		<mapping class="VO.SemProfessorVo"/>
		
		<mapping class="VO.SubjectProfessorVo"/>
		
		<mapping class="VO.StudentVo"/>
		
		<mapping class="VO.ExamVo"/>
		
		<mapping class="VO.ExamPhaseVo"/>
		
		<mapping class="VO.QuestionVo"/>
		
		<mapping class="VO.ResultVo"/>
		
	</session-factory>
</hibernate-configuration>